@import "vars";
@import "./layout/header";
@import "./layout/footer";
@import "./components/catalog";
@import "./components/preview";
@import "./components//slider.scss";
@import "./components/advantages";
@import "./components/news";
@import "./components/contacts";
@import "./components/form";
@import './components//title-box';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Roboto", "Arial", sans-serif;
  scroll-behavior: smooth;
}

.body {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 375px;
}

.container {
  position: relative;
  min-width: 375px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  padding: 0 15px;

  @media (min-width: 1024px) {
    padding-left: clamp(15px, 4vw, 120px);
    padding-right: clamp(15px, 4vw, 120px);
  }

  @media (min-width: 1900px) {
    padding-left: clamp(77px, 14vw, 260px);
    padding-right: clamp(77px, 14vw, 260px);
    box-sizing: border-box;
  }
}

.logo {
  width: clamp(60px, 15vw, 70px);
  height: clamp(60px, 15vw, 70px);
  background-image: url(../public/Dell_Logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &_footer {
    width: clamp(70px, 15vw, 112px);
    height: clamp(70px, 15vw, 112px);
  }
}


