.advantages {
  background-color: $grey;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  min-width: 375px;
  padding-top: clamp(106px, 10vw, 127px);
  padding-bottom: 120px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1920px;

  &__items {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    background-image: url(/public/advantages-frame.png);
    width: 345px;
    height: clamp(211px, 35vw, 289px);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: clamp(15px, 3vw, 30px);
    row-gap: clamp(15px, 3vw, 25px);
    color: white;
  }

  &__icon {
    width: clamp(50px, 10vw, 70px);
    height: clamp(50px, 10vw, 70px);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__icon1 {
    background-image: url("/public/prices.svg");
  }
  &__icon2 {
    background-image: url("/public/service.svg");
  }
  &__icon3 {
    background-image: url("/public/quality.svg");
  }
  &__icon4 {
    background-image: url("/public/partners.svg");
  }

  &__title {
    margin-bottom: clamp(10px, 3vw, 25px);
    font-size: clamp(18px, 2vw, 22px);
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    width: 296px;
    height: 46px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    color: rgba(183, 183, 183, 1);
    width: 319px;
    height: 60px;
    max-width: 276px;
  }

  &__img {
    max-width: 100%;
    position: relative;
    right: -17%;
    bottom: 38px;
    z-index: -1;
  }

  &__best {
    width: 100%;
    height: clamp(121px, 30vw, 346px);
    position: absolute;
    left: 48%;
    top: 24%;
    transform: translateX(-50%);
    background: url(/public/best-quality.svg) center/contain no-repeat;
    z-index: -1;
  }

  @media (min-width: 700px) {
    padding-bottom: 102;

    &__items {
    }
    &__item {
      width: 330px;
    }
  }

  @media (min-width: 1475px) {
    &__img {
      position: absolute;
      left: 5%;
      top: 31px;
    }

    &__title-container {
      display: flex;
      flex-direction: row-reverse;
      padding-bottom: 180px;
      padding-right: 195px;
      z-index: 2;
    }

    &__best {
      max-width: 897px;
      transform: none;
      left: 0;
      top: 10%;
    }
  }

  @media (min-width: 1640px) {
    &__img {
      left: 9.5%;
      top: 3%;
    }

    &__best {
      left: 0;
      top: 10%;
    }
  }

  @media (min-width: 1920px) {
    padding-left: 260px;
    padding-right: 260px;

    &__title-container {
      display: flex;
      flex-direction: row-reverse;
      padding-bottom: 190px;
      padding-right: 195px;
    }
  }
}
