.contacts {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  min-width: 375px;
  max-width: 1920px;

  &__first {
    background: #f9f9f9;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 108px;
    padding-bottom: 55px;
  }

  &__contact {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: clamp(6px, 2vw, 17px);
    align-items: start;

    p:first-of-type {
      color: $grey-text;
      font-size: clamp(15px, 3vw, 18px);
      font-weight: 400;
      line-height: 133.687%;
    }

    p {
      font-size: clamp(18px, 3vw, 22px);
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }

  &__wrapper {
    width: clamp(315px, 60vw, 434px);

    li {
      padding-bottom: clamp(29px, 6vw, 50px);
    }
  }

  &__icon {
    grid-row: 1 / 3;
    width: clamp(19px, 5vw, 38px);
    height: clamp(19px, 5vw, 38px);
    background: url(/public/location.svg);
    background-position: center;
    background-size: contain;
  }

  &__phone-img {
    width: 33%;
    position: absolute;
    z-index: 1;
    right: 5%;
    bottom: 48%;
    transform: rotate(15deg);
    transform-origin: top left;
  }

  &__footer-icons {
    column-gap: clamp(12px, 2vw, 18px);
  }

  &__background-text {
    background: url(/public/our-contacts.svg) center/contain no-repeat;
    display: none;
  }

  @media (min-width: 1024px) {
    height: 676px;
    display: flex;
    justify-content: center;
    background:
      linear-gradient(0deg, #eee 0%, #eee 100%),
      lightgray 0px -382.687px / 100% 205.208% no-repeat;

    &__central {
      display: flex;
      position: absolute;
      bottom: 180px;
    }

    &__first {
      width: clamp(450px, 40vw, 700px);
      height: 842px;
      border-radius: 20px 0px 0px 20px;
      padding-top: 96px;
    }

    &__phone-img {
      display: none;
    }

    &__background-text {
      display: block;
      position: absolute;
      width: 1450px;
      height: 471px;
      z-index: -1;
      bottom: 0;
      left: 1%;
      margin-bottom: 30px;
    }
  }

  @media (min-width: 1462px) {
    &__phone-img {
      display: block;
      transform: rotate(0deg);
      width: 21%;
      top: 17%;
      right: 44%;
    }
  }
}
