.news {
  padding: 123px 0 120px 0;

  &__items {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: clamp(20px, 5vw, 40px);
  }

  &__item {
    position: relative;
    left: -3%;
    display: flex;
    flex-direction: column;
    width: 324px;
    height: 293px;
    border-radius: 45px 0 45px 0;
    filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));
  }

  .news__item:nth-last-child(-n + 3) {
    display: none;
  }

  @media (min-width: 768px) {
    .news__item:nth-last-child(-n + 3) {
      display: block;
    }
  }

  &__item-text {
    width: 324px;
    height: 142px;
    color: black;
    position: absolute;
    bottom: -24.5%;
    left: 6%;
    margin-bottom: 50px;
  }

  &__item-title {
    padding-bottom: 11px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(41, 45, 50, 1);
    line-height: 25px;
  }

  &__item-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: rgba(41, 45, 50, 1);
    width: 251px;
    height: 42px;
    line-height: 20px;
  }

  &__item-img {
    margin-bottom: -30px;
    width: 100%;
    height: 185px;
    border-radius: 45px 0 0 0;
  }

  &__item-base {
    width: 100%;
    height: 143px;
  }

  &__item-button {
    position: absolute;
    border: 0;
    background-color: transparent;
    top: 56%;
    right: -1px;
    width: 90px;
    height: 60px;
    background-image: url(/public/news-button-small.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__item-date {
    background-color: #ffffff;
    width: 39px;
    height: 76px;
    border-radius: 15px;
    position: absolute;
    top: 18%;
    right: -6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: clamp(5px, 2vw, 15px);

    span:first-child {
      font-weight: 900;
      line-height: 12.9px;
      font-size: 18px;
    }

    span:nth-child(2) {
      font-size: 300;
      line-height: 7.17px;
    }

  }

  @media (min-width: 1024px) {
    padding: 98px 0 525px 0;
  }

  @media (min-width: 1440px) {

    &__item {
      width: 415px;
      height: 365px;
      left: -6%;
    }

    &__items {
      justify-content: space-between;
      grid-template-columns: repeat(auto-fit, 414px);
      gap: 40px 60px;
    }

    &__item-img {
      width: 100%;
      height: 262px;
      border-radius: 45px 0 0 0;
    }

    &__item-base {
      width: 100%;
      height: 146px;
    }

    &__item-button {
      width: 105px;
      height: 120px;
      top: 67%;
      right: 2%;
    }

    &__item-text {
      bottom: -22%;
    }

    &__item-date {
      width: 50px;
      height: 97px;
    }
  }
}
