.preview {
  background-color: $grey;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  min-width: 375px;
  max-height: min-content;
  padding-top: 79px;
  max-width: 1920px;

  &__img {
    display: flex;
    align-items: center;
    height: clamp(197px, 51vw, 500px);
    width: 100%;
    top: 0;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background-image: url("/public/preview-bottom-375.png");
    background-repeat: no-repeat;
    background-size: 64%;
    background-position: 90%;
    background-color: #f9f9f9;
    pointer-events: none;
  }

  &__dell-background {
    background: url(/public/Dell.svg) center/contain no-repeat;
    width: 80%;
    position: absolute;
    top: 18px;
    left: clamp(32px, 5vw, 100px);
    z-index: -1;
    aspect-ratio: 293/77;
  }

  &__img-text {
    font-size: clamp(20px, 3vw, 25px);
    font-weight: 400;
    width: clamp(136px, 18vw, 181px);
    padding-left: clamp(15px, 4vw, 40px);
  }

  &__wrapper {
    padding-left: 16px;
    padding-bottom: 8px;
  }

  &__scroll-button {
    display: none;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 75px;
    transform: rotate(-90deg);
    width: 200px;
    top: 4%;
    left: 2%;
    color: rgba(131, 131, 131, 1);
  }

  &__scroll-button::before {
    content: "";
    position: absolute;
    bottom: 73%;
    left: -25%;
    background-image: url(/public/preview-union.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 38px;
    transform: rotate(-270deg);
  }

  @media (min-width: 1024px) {
    padding-top: 0;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img {

    }
  }

  @media (min-width: 1220px) {

    &__img {
      background-size: contain;
    }
  }

  @media (min-width: 1600px) {
    display: flex;
    justify-content: flex-end;

    &__wrapper {
      padding: 0 60px 0 0;
    }

    &__img {
      position: initial;
      transform: none;
      width: 509px;
      height: 683px;
      background-size: 180%;
      background-position: 50% -150%;
    }

    &__img-text {
      margin-top: 54px;
    }

    &__scroll-button {
      display: block;
    }

    &__dell-background {
      width: 40%;
      top: 14%;
      left: 13%;
    }
  }

  @media (min-width: 1740px) {

    &__img {
      background-size: 190%;
      background-position: 32% -2800%;
    }
  }
}
