.slider {
  position: relative;
  width: 93.5%;
  overflow: hidden;

  &__img {
    width: 100%;
    flex-shrink: 0;
  }

  &__slides {
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
  }

  &__indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  &__next-btn {
    border: 0;
    cursor: pointer;
    background: url(/public/preview-arrow.svg) no-repeat center / contain;
    background-color: transparent;
    width: clamp(64px, 10vw, 104px);
    height: 21px;
  }

  &__nav-container {
    position: fixed;
    display: flex;
    column-gap: clamp(39px, 5vw, 80px);
    top: 70.5%;
    right: 4%;
    overflow: visible;

    @media (min-width: 470px) {
      top: 65%;
      right: 9%;
    }

    @media (min-width: 1024px) {
      top: 53%;
      right: 18%;
    }
  }

  @media (min-width: 1440px) {
    width: 557px;

    &__nav-container {
      top: 43%;
      right: 13%;
    }
  }

  @media (min-width: 1600px) {
    width: 557px;

    &__nav-container {
      top: 73%;
      right: 19%;
    }
  }
}

.indicator {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
}

.indicator.active {
  background-color: black;
  width: 5px;
  height: 5px;
}
